html {
  background-image: url("../images/origin-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
  // Components
  @import "components/header";

  // Pages
  @import "pages/home";
}